@import './errorBoundary.css';
@import './loader.css';
@import './common.css';
@import './post.css';
@import './categories.css';
@import './comingsoon.css';
@import '/node_modules/highlight.js/styles/a11y-dark.css';
pre {
    background-color: black;
    padding: 10px 20px
}

pre * {
    color: white;
    font-size: 1rem;
}